@charset "utf-8";
/* CSS Document */

#cedmc-toolbar .cedmc-icon {
	display: inline-block;
	width: 18px;
	height: 18px;
	vertical-align: text-top;
	margin: 0 2px;	
}

#cedmc-toolbar .button {
	padding-left: 5px;	
}

#cedmc-toolbar .cedmc-primary-bar {
	float:right;	
	max-width: 33%;
	height: 100%;
}

#cedmc-toolbar .cedmc-secondary-bar {
	float: left;	
	max-width: 66%;
	height: 100%;
}

#cedmc-toolbar:after  {
	content: "";
	clear: both;
	display: block;	
}


#cedmc-toolbar {
	display: inline-block;
	position: relative;
	margin: 12px 0 12px;
	box-sizing: border-box;
	width: 100%;
	font-size: 13px;
}

#cedmc-toolbar select {
	margin: 0 0 0 10px;
	font-size: 14px;
	line-height: 28px;
}

